.heroSection {}

swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-select-selection-item {
    color: grey;
}

.ant-space-item,
.ant-picker {
    width: 100%;
}

.-z-50 {
    z-index: -9999;
    position: absolute;
}

.react-responsive-modal-modal {
    width: 32%;
}

.react-responsive-modal-container {
    backdrop-filter: blur(5px);
}

@media (max-width: 600px) {
    .react-responsive-modal-modal {
        width: 90% !important;
    }
}